{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crown Kreation - Admin</title>
    <link rel="stylesheet" href="{% static '/css/overall.css' %}">
    <link rel="stylesheet" type="text/css" href="{%  static '/css/sweetalert2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/datatables.min.css' %}">



    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/logo.png' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
</head>
<body>
   <!-- Loader -->
<div id="loader">
    <div class="spinner"></div>
</div>

<!-- Your admin content -->
<div id="content" class="hidden">
    <!-- Your entire admin dashboard goes here -->

    <div class="admin-container">
        <!-- Sidebar (same as dashboard.html) -->
        <nav class="sidebar">
            <div class="logo">
                <h2>Admin Panel</h2>
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'dashboard'%}">Dashboard</a></li>
                <li class="[ACTIVE-IF-PENDING]"><a href="#">Pending Bookings</a></li>
                <li class="[ACTIVE-IF-CONFIRMED]"><a href="{% url 'confirmedBookings'%}">Confirmed Bookings</a></li>
                <li class="[ACTIVE-IF-CANCELLED]"><a href="{% url 'cancelledBookings'%}">Cancelled Bookings</a></li>
                <li class="[ACTIVE-IF-COMPLETED]"><a href="{% url 'completedBookings'%}">Completed Bookings</a></li>
            </ul>
            <div class="sidebar-footer">
                <button id="changePasswordBtn">Change Password</button>
                <button id="logoutBtn"><a style="color: white; text-decoration: none;" href={% url 'logout_user'
                        %}>Logout</a></button>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="main-content">
            <div class="header-actions">
                <h1>Pending Bookings</h1>
            </div>
            <div>
                <table class="bookings-table" id="bookingsTable">
                    <!-- Display warning/error/success messages -->

                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert shadow w100" role="alert"
                        style="background-color:
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}#2ecc71
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}#f44336
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}#f7dc6f
                    {% else %}
                    {% endif %};color:{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}black{% else %}white{% endif %};">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Service</th>
                            <th>Size</th>
                            <th>Preferred Date</th>
                            <th>Preferred Time</th>
                            <th>Created At</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.firstname}} {{ appointment.lastname }}</td>
                            <td>{{ appointment.email}} </td>
                            <td>{{ appointment.phoneNumber}} </td>
                            <td>{{ appointment.serviceID.servicename}} </td>
                            <td>{{ appointment.serviceID.size_options}}</td>
                            <td>{{ appointment.appointment_date}} </td>
                            <td>{{ appointment.appointment_time}} </td>
                            <td>{{ appointment.created_at}} </td>
                            <td>{{ appointment.status}} </td>
                            <td>
                                <div class="action-buttons-container">

                                    <form action="{% url 'update_appointment' appointment.appointmentid 'confirm' %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="confirm-btn"
                                            onclick="confirmAppointment('{{ appointment.appointmentid }}', 'confirm')">✔</button>

                                    </form>

                                    <form action="{% url 'update_appointment' appointment.appointmentid 'cancel' %}"
                                        method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="cancel-btn"
                                            onclick="confirmAppointment('{{ appointment.appointmentid }}', 'cancel')">❌</button>

                                    </form>
                                </div>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </main>




    </div>
</div>

     <!-- Change Password Modal -->
     <div id="passwordModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Change Password</h2>
            <form id="changePasswordForm">
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" id="currentPassword" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" id="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm New Password</label>
                    <input type="password" id="confirmPassword" required>
                </div>
                <button type="submit">Update Password</button>
            </form>
        </div>
    </div>


    

    <script>
        function confirmAppointment(appointmentid, action) {
            Swal.fire({
                title: `Are you sure you want to ${action} this appointment?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#000000',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, proceed'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: `Appointment ${action}ed!!`,
                        icon: "success",
                        draggable: false
                    });
                    window.location.href = `/dashboard/update-appointment/${appointmentid}/${action}/`;
                                }
            });
        }
    </script>

    </script>
    {% comment %} <script src="{% static '/js/Overall.js' %}"></script> {% endcomment %}
    <script src="{% static  'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sweetalert2.min.js' %}"></script>

    <script src="{% static 'js/datatables.min.js' %}"></script>


    <script>
        $(document).ready(function () {
            $('#bookingsTable').DataTable();
        });
    
        //loader actions
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(() => {
                document.getElementById("loader").style.display = "none";
                document.getElementById("content").classList.remove("hidden");
            }, 1000); // Add delay for better UX (adjust as needed)
        });
    
    
    </script>


</body>
</html>